.imagen-formulario{
	background-image: url('../imagenes/arquitectura_actualizar_certificado.jpg');
	background-position: center center;
	background-size: cover; /*se adapta a su contenedor padre*/	
	flex: 0 0 calc(60%);
	 /* se pone la posicion como relativa para que el hijo ocupe toda esta posicion*/
}